.anima {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

@media (min-width: 1025px) {
  .anima .banner__tabs-inner {
    --tabs-reveal: 0%;
  }
}

.anima__mobile {
  display: none;
}

@media (min-width: 1025px) {
  .anima__desktop {
    display: block;
  }
}

@media (max-width: 1024px) {
  .anima {
    width: 100%;
    max-width: 100%;
    padding: 24px 20px 0;
  }

  .anima__desktop {
    display: none;
  }

  .anima__mobile {
    display: block;
    width: 100%;
  }

  .anima__banner-top {
    margin-bottom: 0;
  }
}
